body {
  background-color: rgb(0, 0, 0);
}

#game {
    max-width: 600px;
    height: 600px;
    background-color: rgb(43, 49, 2);
    color: white;
    margin: 0 auto;
    padding: 12px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 20px;
}

button {
    background-color: rgb(5, 4, 14);
    color: white;
    font-size: 15px;
}
#controls {
    
    border: 3px solid black;
    padding: 8px;
    
}
div .stats {
  margin-top: 1em;
  margin-bottom: 3px;
}
#stats {
    border: 1px solid black;
    color: black;
    
}
.stats .stat {
  padding: 5px;
 
}

.stat img {
  margin-bottom: -8px;
  width: 30px;
  height: 30px;
}
  #home{
    display: block;
    margin-top: 20px;
  }
  #home img {
   margin-top: -7px;
   width: 100%;
   max-height: 260px;
   min-height: 450px;
   border-radius: 10px;
   
  }
  #home h2{
    color: rgb(189, 187, 187);
    text-align: center;
  }
  #gameContainer{
    margin-top: 3em;
    display: none;
    display: grid;
    grid-template-columns:150px 150px ;
    grid-template-rows: 150px 150px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    
  }
  
  #gameContainer img{
    width: 150px;
    height: 170px;
  }
  #input{
   display: none;
  margin-top: 2em;
  
  }
  #useCoin {
   padding: 10px;
  
  }
  
  
  #resultMessage {
    font-weight: bold;
    margin-top: 10px;
  }

